h1 {
	color: #FF00FF;
	font-family: Helvetica, sans-serif;
}

.mydiv {
	width:400px;
	background-color: #9A3456;
	color: white;
	border: dashed 3px #000;
	margin: 20px;
	padding: 10px 20px 10px 20px;
}

.mydiv p {
	color: #999999;
}

.relative {
	position: relative;
	left: 500px;
}

.fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 100%;
	opacity: 0.5;
}

.absolute{
	position: absolute;
	right: 10%;
	top: 85%;
}